{% extends 'app_shop/base.html' %}
{% load static %}

<!-- Тайтл сайта -->
{% block title %}
{% if category %}
{{ category.name }}
{% else %}
Название сайта
{% endif %}
{% endblock %}

{% block content %}

<div id="sidebar">
  <h3>Категории</h3>
  <ul>
    <li>
      <a href="{% url 'app_shop:product_list' %}">Все категории</a>
    </li>
    {% for c in categories %}
    <li>
      <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
<hr>

<div id="main" class="product-list">
  <h3>
    {% if category %}
    {{ category.name }}
    {% else %}
    Товары
    {% endif %}
  </h3>

</div>
<div class="container">
  <div class="row row-col-4">
    {% for product in products %}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{% if product.image %}
                  {{ product.image.url }}
                  {% else %}
                  {% static 'app_shop/img/no_image.png' %}
                  {% endif %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">{{ product.name }}</h4>
          <p class="card-text">Состав: {{ product.description }}</p>
          <h6 class="card-text">Цена: {{ product.price }} руб.</h6>
          <h6 class="card-text">вес/наличие</h6>
          <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Детали</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


</div>

{% endblock %}