{% extends 'app_shop/base.html' %}
{% load static %}

{% block title %}

{% endblock %}
{% block content %}
  <div>
    {% for item in cart %}
      {% with product=item.product %}
        <tr>
          <th scope="row" class="border-0">
            <a href="{{ product.get_absolute_url }}">
              <img src="{% if product.image %}
                  {{ product.image.url }}
                {% else %}
                  {% static 'app_shop/img/no_image.png' %}
                {% endif %}"
                alt=""
                width="70"
                class="img-fluid rounded shadow-sm" />
            </a>
            <div class="ml-3 d-inline-block align-middle">
              <h5 class="mb-0"><a href="#" class="text-dark d-inline-block align-middle">{{ product.name }}</a></h5><span class="text-muted font-weight-normal">{{ product.category }}</span>
            </div>
          </th>
          <td class="border-0 align-middle">
            <strong>{{ item.price }} руб.</strong>
          </td>
          <td class="border-0 align-middle">
            <strong>{{ item.quantity }}</strong>
          </td>
          <td class="border-0 align-middle">
            <a href="{% url 'cart:cart_remove' product.id %}" class="text-dark"><i class="fa fa-trash">удалить</i></a>
          </td>
          <td class="border-0 align-middle">
            <strong>{{ item.total_price }} руб.</strong>
          </td>
        </tr>
      {% endwith %}
    {% endfor %}
  </div>
{% endblock %}
